@font-face {
font-family: Gloria-Hallelujah; src: url(<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">);
}

body {
    position: relative;
    margin: 0 auto;
    height: 80%;
    font-family: Helvetica;
    min-height: 100vh;
    background: linear-gradient(35deg, #103949 50%,  white 50%);
    background-size: cover;
}


.nav-li {
    /* creates a */
    color: #030303;
    display: flex;
    float: right;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}


.nx{
    font-family: 'Jim Nightshade', cursive;
    float: left;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    float: right;
    padding: 30px;
    text-align: center;
    justify-content: space-between;
}

a {
    color: #050505;
    text-decoration: none;
    font-size: 2rem;;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgtxt {
    display: flex;
    flex-direction: row;
    }

.pic-skew {
    height: 55%;
    width: 45%;
    
    position: relative;
    right: -10%;
}



.txt{
    top: 90%;
    font-family: sans-serif;
    text-align: left;
    width: 400px;
    margin: 2px;
    padding: 3px;
    height: 390px;
    float: left;
    display:block;
    
  }

  h1{
    margin: 0;
    padding: 0;
    font-size: 2px;
  }

  h2{
      color: ivory;
    font-family: 'Kavoon', cursive;
  }

  h3{
      color:cornsilk;
      font-family: 'Modern Antiqua', cursive;
      font-size: 1rem;
      font-weight: bolder;
      letter-spacing: 5px;

  }


p{
    font-family: 'Modern Antiqua', cursive;
    font-size: 4px;
    font-size: 1.2rem;
    color: cornsilk;
    letter-spacing: 2px;
}

footer {
    text-align: center;
    padding: 2px;
    background-color: #7dafb9;
    opacity: 0.5;
}

footer p {
    font-size: 1rem;
}

.blue {
    background: #7dafb9;
    opacity: 0.5;
}


a:hover {
    color: #50c5c9;
    opacity: 1.0;
}